footer {
  background-color: var(--color-primary);
}

.insta {
  transition: all .2s linear;
}

.insta:hover {
  transform: scale(1.5);
}

.face {
  transition: all .2s linear;
}

.face:hover {
  transform: scale(1.5);
}

.twit {
  transition: all .2s linear;
}

.twit:hover {
  transform: scale(1.5);
}

.words a {
  color: #fff;
  text-decoration: none;
}

.words li {
  display: block;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 38em) {

  .logos {
    text-align: left;
  }

  .foot {
    text-align: right;
  }

  .words li {
    display: inline-block;
    width: auto;
  }

}
