:root {
  --color-primary: #484747;
  --color-secondary: #e9d710;
  --color-background: #eee;
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Bitter", serif;
}

html {
  font-family: var(--font-primary);
}
