:root {
  --color-primary: #484747;
  --color-secondary: #e9d710;
  --color-background: #eee;
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Bitter", serif;
}

html {
  font-family: var(--font-primary);
}

a {
  font-family: var(--font-primary);
  font-weight: bold;
  color: var(--color-primary);
}

h1 {
  font-family: var(--font-secondary);
  font-weight: bold;
}

h2 {
  font-family: var(--font-secondary);
  font-weight: bold;
}

h3 {
  font-family: var(--font-secondary);
  font-weight: bold;
}

h4 {
  font-family: var(--font-primary);
  font-weight: bold;
}

h5 {
  font-family: var(--font-primary);
  font-weight: normal;
}

mark {
  color: var(--color-secondary);
  font-weight: bold;
  font-style: normal;
  background-color: transparent;
}

dt {
  font-family: var(--font-primary);
  font-weight: bold;
}

.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);

  color: var(--color-secondary);
  transition: color 1000ms linear;
  transition: all 250ms linear;
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);

  color: var(--color-primary);
}
